.items {
  .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .profile-image {
      width: 70px;
      height: 70px;
      border-radius: 50px;
    }
  }

  .image-flex-start {
    margin-left: 20px;
    justify-content: flex-start;
  }

  .items-details {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;

    .right-item {
      width: 400px;
    }
  }

  .button {
    width: 100%;
    margin: 10px auto;
  }
}
