$brown: #2d0c03;
$medium-red: #98504b;
$light-orange: #f9b684;
$danger: #ff1a4a;
$dark: rgb(79, 84, 94);
$white: #ffffff;
$medium-white: rgb(226, 235, 232);
$dark-white: #aaabad;
$purple: rgb(121, 95, 205);
$green: #3db166;
$dark-blue: #163269;
$dark-black: #181818;
$grey: #ababab;
$black: #000000;
